{% extends 'home/base_publico.html' %} 

{% block content %}  <main class="conteudo">
  <section class="secao form-container">
    <h2>Crie sua Nova Senha</h2>

    {% if validlink %}
      
      <form method="post">
        {% csrf_token %}

        <div class="form-group">
          {{ form.new_password1.label_tag }}
          {{ form.new_password1 }}
          {% if form.new_password1.errors %}
            <div class="field-errors">{{ form.new_password1.errors }}</div>
          {% endif %}
          <div class="help-text">{{ form.new_password1.help_text|safe }}</div>
        </div>

        <div class="form-group">
          {{ form.new_password2.label_tag }}
          {{ form.new_password2 }}
          {% if form.new_password2.errors %}
            <div class="field-errors">{{ form.new_password2.errors }}</div>
          {% endif %}
        </div>

        <button type="submit" class="submit-btn">Alterar Senha</button>
      </form>

    {% else %}
      
      <p class="error-message">
        O link para redefinição de senha é inválido, provavelmente porque já foi
        utilizado. Por favor, solicite uma nova redefinição.
      </p>

    {% endif %} 
    </section>
</main>

{% endblock %}    