{% extends 'home/base_publico.html' %} 
{% load static %}

{% block content %}
<main class="conteudo">
  <div class="form-container">
    <h2 class="form-titulo">Senha Alterada!</h2>
    <p class="form-texto">
      Sua senha foi redefinida com sucesso. Você já pode fazer o login com suas novas
      credenciais.
    </p>
    
    <a href="{% url 'home:login' %}" class="botao-destaque" style="width: 100%; text-align: center; display: block; box-sizing: border-box;">
      Ir para o Login
    </a>
  </div>
</main>
{% endblock %}