{% extends 'home/base_publico.html' %} 
{% load static %}

{% block content %}
<main class="conteudo">
  <div class="form-container">
    <h2 class="form-titulo">Verifique sua Caixa de Entrada</h2>
    <p class="form-texto">
      As instruções para redefinição de senha foram enviadas para o seu e-mail.
      Se uma conta com este e-mail existir, você receberá a mensagem em breve.
    </p>
    <p class="form-texto" style="font-weight: 600;">
      Não se esqueça de checar sua pasta de spam!
    </p>
  </div>
</main>
{% endblock %}