{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home/css/estilomain.css' %}" />
    <title>FocusUP</title>
  </head>
  <body>
    <header class="cabecalho">
      <div class="nav_bar">
        <div class="menu_hamburguer" id="menuBtn">☰</div>
        <ul class="lista_nav" id="menuMobile">
          <li><a href="{% url 'home:home' %}">Início</a></li>
          <li><a href="{% url 'home:lista_Tarefas' %}">Meus Hábitos</a></li>
          <li><a href="{% url 'home:listar_amigos' %}">Amigos</a></li>
          <li><a href="{% url 'home:listar_pedidos_amizade' %}">Pedidos</a></li>
          <li><a href="{% url 'home:home' %}#evolucaoID">Evolução</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'home:logout' %}" class="btn_sair">Sair</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="div_logo">
        <img
          src="{% static 'home/img/Logo.png' %}"
          alt="Logo"
          class="logo_focus"
        />
      </div>
      {% if user.is_authenticated %}
      <div class="usuario_logado">
        <p class="txt_usuario">Bem-vindo(a), {{ user.nome_usuario }}</p>
        <div class="usuario_stats">
          <div class="stat">
            <span class="stat_label">Nível</span
            ><span class="stat_valor">{{ user.nivel }}</span>
          </div>
          <div class="stat">
            <span class="stat_label">XP</span
            ><span class="stat_valor">{{ user.xp_atual }}</span>
          </div>
        </div>
      </div>
      {% endif %}
    </header>

    {% block content %} {% endblock %}

    <script src="{% static 'home/js/menu_mobile.js' %}"></script>
  </body>
</html>
