{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home/css/estilomain.css' %}" />
    <title>FocusUP</title>
  </head>
  <body>
    <header
      class="cabecalho-publico"
      style="
        display: flex;
        justify-content: center;
        padding: 1rem;
        border-bottom: 1px solid #4a4a8a;
      "
    >
      <div class="div_logo">
        <img
          src="{% static 'home/img/Logo.png' %}"
          alt="Logo"
          class="logo_focus"
        />
      </div>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
