{% extends 'home/base.html' %} {% block content %}
<div class="container">
  <h1>Pedidos de Amizade Pendentes</h1>

  {% if messages %} {% for message in messages %}
  <div class="alert alert-success">{{ message }}</div>
  {% endfor %} {% endif %} {% if pedidos %}
  <ul>
    {% for pedido in pedidos %}
    <li>
      {{ pedido.de_usuario.nome_usuario }} quer ser seu amigo.
      <a href="{% url 'home:aceitar_pedido_amizade' pedido.id %}" class="btn"
        >Aceitar</a
      >
      <a
        href="{% url 'home:recusar_remover_amizade' pedido.id %}"
        class="btn btn-danger"
        >Recusar</a
      >
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Você não tem pedidos de amizade pendentes.</p>
  {% endif %}
</div>
{% endblock %}
